body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
    transition: top 0.3s;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.nav-left a,
.nav-right a {
    margin: 0 10px;
    text-decoration: none;
    color: #222;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-left a:hover,
.nav-right a:hover {
    color: #ff6600;
}

.logo-text .logo-img {
    height: 40px;
    vertical-align: middle;
}

.search-slide {
    background-color: white;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease;
    border-bottom: 1px solid #eee;
}

.search-slide {
    background-color: white;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease;
    border-bottom: 1px solid #eee;
}

.search-slide form {
    display: flex;
    padding: 10px 40px;
    align-items: center;
}

.search-slide input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px 0 0 6px;
}

.search-slide button {
    padding: 10px 15px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}

header.hide {
    transform: translateY(-100%);
    transition: transform 0.1s ease;
}

.nav-right a i.fa-user-circle {
    font-size: 20px;
    color: #222;
    margin: 0 5px;
}